CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
build

# dated copies
*??-??-* 

extra*
kernel_types.h

output*/

# Python cache
*.pyc

# misc
Average*
cubin*
*.sass

# I don't know what info can be shared. 
# The lack of existence of this file results in an 
# informative error message and subsequent failure. 
node_arch_translation.csv

# Debug output
*debug*.txt
*test*.txt

# matrix files
*.mtx
